@import 'tailwindcss';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@font-face {
  font-family: 'CircularSpotify';
  src: url('/public/fonts/CircularSpotifyText-Book.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'CircularSpotify', var(--font-sans);
  background-color: var(--spotify-black);
  color: var(--spotify-white);
}

:root {
  --spotify-green: #1DB954 ;
  --spotify-black: #121212;
  --spotify-gray-bold: #212121;
  --spotify-gray-semibold: #535353;
  --spotify-gray: #b3b3b3;
  --spotify-white: #fff;
}

.podcast-section {
    position: relative;
    overflow: hidden;
}

.podcast-cover {
  width: 100%;
  max-width: 200px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  position: relative;
}


#playPause {
  position: relative; 
}

.tooltip {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  font-size: 9px;
  padding: 0.4em;
  border-radius: 4px;
  background-color: black;
  color: white;
  text-align: center;
  position: absolute;
  bottom: 48px;
  transform: translateX(-18%);
  z-index: 10;
}

.tooltip:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

#closeTooltip {
  font-weight: bold;
  margin-left: 10px;
  cursor: pointer;
  color: gray;
  top: 5px;
  right: 5px;
}

#closeTooltip:hover {
  color: white;
}

.btn-spotify {
  color: #fff;
  background-color: #1DB954;
  border-color: #1DB954;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.podcast-label {
  gap: 8px;
}

.podcast-title {
  margin: 8px 0;
}

.podcast-text {
  position : relative;
}

.podcast-duration {
  gap: 24px;
  position : relative;
}

.container-sweetvows {
  padding-top: 10px;
  padding-left: 24px;
  padding-right: 24px;
  gap: 24px;
}

.bride-groom {
    gap: 10px;
}

.bride {
    border-radius: 8px;
}

.groom {
    border-radius: 8px;
}

.bride-name {
    margin-top: 5px;
}

.bride-parent {
    margin-top: -10px;
}

.groom-name {
    margin-top: 5px;
}

.groom-parent {
    margin-top: -10px;
}

.episode-text {
  margin-top: -5px;
  padding-left: 24px;
  padding-right: 24px;
}

.galleries {
  border-radius: 8px;
}

.info-flipped {
  transform: scaleY(-1);
}

.timeline {
  padding-top: 10px;
  padding-left: 24px;
  padding-right: 24px;
  gap: 24px;
}

.throwback-cover {
    position: relative;
    overflow: hidden;
  }

.landing-cover {
    position: relative;
    overflow: hidden;
    z-index: 0;
  }

.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }

#carousel {
  scroll-snap-type: x mandatory;
}
.carousel-card {
  scroll-snap-align: center;
}

#carousel-throwback {
  scroll-snap-type: x mandatory;
}
.carousel-card-throwback {
  scroll-snap-align: center;
}

.show-more-btn {
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(24px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fadeUp {
  animation: fadeUp 1s ease-out forwards;
}

.modal-qris {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    max-width: 100%;
}

.modal-qris img {
    max-width: 90%;
    height: auto;
}

.wedding-header {
  position: relative; 
  z-index: 2;
}

.progressBarEpisode {
  width: 0%
}

.landing-header {
  position: relative; 
  z-index: 2;
}

.landing-header-after {
  position: relative; 
  z-index: 2;
}

.gift-qris {
  display: none;
}

.image-modal-background {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    filter: blur(50px);
    transform: scale(3);
    z-index: -2;
    height: 10%;
}

[x-cloak] {
    display: none !important;
}